@use "../palette.scss" as p;

.h3{
    text-align: center;
    font-size: 3rem;
}
.paragraph{
    text-align: center;
    width: 50vw;
    margin: 0 auto;
    font-size: 1.5rem;
}

.expertise-paragraph{
    text-align: center;
    width: 35vw;
    margin: 0 auto;
    font-size: 1.5rem;
}

.chart{
    width: 20rem;
    border-radius: 1em;
    margin: 1rem auto;
    background-color: p.$secondary-accent-light;
}