@use "../palette.scss" as p;

.h3{
    text-align: center;
    font-size: 3rem;
}
.paragraph{
    text-indent: 2rem;
    // text-align: center;
    width: 40vw;
    margin: 1rem auto;
    font-size: 1.5rem;
}

.expertise-paragraph{
    text-indent: 1rem;
    text-align: center;
    width: 35vw;
    margin: 1rem auto;
    font-size: 1.5rem;
}

.skills{
    min-width: 20rem;
    max-width: 45vw;
    border-radius: 1em;
    margin: 1rem auto;
    background-color: p.$background-secondary-light;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    box-shadow: rgba(255, 255, 255, 0.24) 0px .25rem 2.5rem;
    justify-content: center;
}