@use "../palette.scss" as p;


@media only screen and (pointer: none), (pointer: coarse) and (max-width: 600px) {
  .parallax{
    background-attachment: scroll;
  }
  .para{
    height: 70vh;
  }
}

@media only screen and (max-width: 1250px) {
  .para{
    height: 60vh;
  }
}

@media only screen and (max-width: 900px) {
  .para{
    height: 70vh;
  }
}

@media only screen and (max-width: 700px) {
  .para{
    height: 80vh;
  }
}

@media only screen and (max-width: 500px) {
  .para{
    height: 90vh;
  }
}

.parallax{
    /* The image used */
  background-image: url("/img/bg-image.png");
  /* Set a specific height */
  height: calc(100vh - 5rem);
  width: 100vw;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-rows: 20% 60% 20%;
  grid-template-areas: "none" "title" "none2";
}

.title{
  grid-area: title;
  display: grid;
  grid-template-rows: 1fr .25fr .5fr;
  text-align: center;
  grid-template-areas: "image" "name" "subtext";
  color: p.$primary-accent-light;
}

.image{
  margin: 0 auto;
  grid-area: image;
}

.name{
  margin-top: 0;
  margin-bottom: auto;
  grid-area: name;
}

.subtext{
  grid-area: subtext;
  margin-top: 0;
  margin-bottom: auto;
}

.right{
  margin: 2rem 20%;
  text-align: right;
  p {
    text-indent: 2rem;
    width: 40vw;
    font-size: 1.5rem;
    text-align: left;
  }
  h2{
    margin-right: 2rem;
    font-size: 3rem;
  }
  .call2act{
    float: right;
    margin-right: 3rem;
  }
  float: right;

  .call2act:hover{
    transform: scale(110%) rotate(-4deg) ;
  }
}

.section{
  h2 {
    font-size: 3rem;
  }
  p {
    text-indent: 2rem;
    width: 40vw;
    margin: 1rem auto;
    font-size: 1.5rem;
  }
  width: 40vw;
  padding: 1rem;
  margin: 2rem 20%;

  .call2act:hover{
    transform: scale(110%) rotate(4deg) ;
  }
}

.call2act {
  padding: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: p.$text-secondary;
  width: fit-content;
  border-radius: 0.5rem;
  background-color: p.$background-primary-light;
  margin: 1rem;
  transition: ease-in-out .3s;
  cursor: pointer;
}

.para{
  background-image: url("/img/title-image.png");
  /* Set a specific height */
  position: relative;
  min-height: 50vh;
  // padding: 1rem;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .right{
    max-height: 60vh;
  }
}

.projects-container{
  display: flex;
  width: 70vw;
  justify-content: center;
  flex-wrap: wrap;
}

.skills-container{
    min-width: 50vw;
    max-width: 65vw;

    border-radius: 1em;
    margin: 1rem auto;
    background-color: p.$background-secondary-light;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    // box-shadow: rgba(255, 255, 255, 0.24) 0px .25rem 2.5rem;
    justify-content: space-evenly;
}