@use "../palette.scss" as p;

.parallax{
    /* The image used */
  background-image: url("/img/bg-image.png");
  /* Set a specific height */
  height: calc(100vh - 5rem);

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-rows: 20% 60% 20%;
  grid-template-areas: "none" "title" "none2";
}

.title{
  grid-area: title;
  display: grid;
  grid-template-rows: 1fr .25fr .5fr;
  text-align: center;
  grid-template-areas: "image" "name" "subtext";
  color: p.$primary-accent-light;
}

.image{
  margin: 0 auto;
  grid-area: image;
}

.name{
  margin-top: 0;
  margin-bottom: auto;
  grid-area: name;
}

.subtext{
  grid-area: subtext;
  margin-top: 0;
  margin-bottom: auto;
}