@use "../palette.scss" as p;

@media only screen and (pointer: none), (pointer: coarse) and (max-width: 700px) {
  .nav-item{
    span {
        display: none;
    }
  }
}


.navbar {
    width: 100%;
    padding: 0.5rem;
    position: fixed;
    top: 0;
    transition: top 0.6s;
    background-color: p.$background-secondary-light;
    color: p.$link-primary;
    font-size: 1.5rem;
    display: inline-grid;
    grid-template-columns: 20% auto
}

.header {
  font-size: 1.5em;
}

.nav-items-container{
  margin: auto 0;
  text-align: right;
}
  
.navbar--hidden {
    top: -4rem;
}

.nav-item{
  padding: .5rem;
  transition: ease-in-out .2s;
}

.icon{
  // margin-top: .25rem;
  vertical-align: top;
}
.nav-item:hover{
  color: p.$secondary-light;
}

.active{
  color: p.$link-primary-hover;
}