@use "../palette.scss" as p;

.skill-container{
    border-radius: 100%;
    background-color: p.$background-primary-light;
    width: fit-content;
    padding: 1.5rem;
    position:relative;
    margin: .8rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: ease-in-out .2s;
}

.skill-container:hover{
    transform: scale(110%);
}

.skill-card{
    position: absolute;
    z-index: 5;
    color: p.$text-secondary;
    right:calc(4rem - 4.5rem);
    top:.5rem;
    background-color: p.$secondary-light;
    padding: .2rem;
    border-radius: .2rem;
    max-width: 4rem;
    min-width: 2rem;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}