@use "./palette.scss" as p;

@media (pointer: none), (pointer: coarse) {
  html,
  body {
        font-size: 12px;
    }
}

@media only screen and (max-width: 600px) {
  html,
  body {
        font-size: 12px;
    }
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: Ubuntu, sans-serif;
  background-color: p.$background-secondary-light;
  color: p.$text-primary;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1{
  color:p.$primary-accent-light;
  font-size: 3rem;
}

h2{
  color:p.$primary-accent-light;
  font-size: 2rem;
}

main{
  margin-top: 4em;
  transition: 1s;
  opacity: 0;
}

.fadeOut{
  margin-top: 4em;
  transition: 1s;
  opacity: 0;
}

.fadeIn {
  opacity: 1;
}


/* width */
::-webkit-scrollbar {
  width: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: p.$background-secondary-light;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  // border: solid white 1px;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  opacity: 80%;
}