$primary-light: #75B1F6;
$primary-accent-light: #D0D6E7;

$secondary-light: #04B08E;
$secondary-accent-light: #89CABD;

$background-primary-light: #ffffff;
$background-primary-dark: #EBDCCC;
$background-secondary-light: #0F0A0F;
$background-secondary-dark: #564941;

$text-primary:#FFFFFF;
$text-secondary:#0F0A0F;
$link-primary:#FFFFFF;
$link-primary-hover:#89CABD